soapservices/WebContent/wsdl/JdbcServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="delete">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insert">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="gender" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertResponse">
    <complexType>
     <sequence>
      <element name="insertReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="search">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element name="searchReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="update">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="gender" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertUsingProcedure">
    <complexType>
     <sequence>
      <element name="collegeId" type="xsd:int"/>
      <element name="collegeName" type="xsd:string"/>
      <element name="university" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertUsingProcedureResponse">
    <complexType>
     <sequence>
      <element name="insertUsingProcedureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllStudent">
    <complexType/>
   </element>
   <element name="findAllStudentResponse">
    <complexType>
     <sequence>
      <element name="findAllStudentReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertResponse">

      <wsdl:part element="impl:insertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertRequest">

      <wsdl:part element="impl:insert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertUsingProcedureResponse">

      <wsdl:part element="impl:insertUsingProcedureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllStudentResponse">

      <wsdl:part element="impl:findAllStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part element="impl:deleteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part element="impl:delete" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllStudentRequest">

      <wsdl:part element="impl:findAllStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertUsingProcedureRequest">

      <wsdl:part element="impl:insertUsingProcedure" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="JdbcServiceImpl">

      <wsdl:operation name="delete">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insert">

         <wsdl:input message="impl:insertRequest" name="insertRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertResponse" name="insertResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchResponse" name="searchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertUsingProcedure">

         <wsdl:input message="impl:insertUsingProcedureRequest" name="insertUsingProcedureRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertUsingProcedureResponse" name="insertUsingProcedureResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllStudent">

         <wsdl:input message="impl:findAllStudentRequest" name="findAllStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllStudentResponse" name="findAllStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JdbcServiceImplSoapBinding" type="impl:JdbcServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertUsingProcedure">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertUsingProcedureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertUsingProcedureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JdbcServiceImplService">

      <wsdl:port binding="impl:JdbcServiceImplSoapBinding" name="JdbcServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/soapservices/services/JdbcServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
